 ----
 Dependencies
 ----
 Vojtech Szocs
 ----
 17 February 2009
 ----

Artifact dependencies
  
  Specific ${df} projects depend on certain libraries and APIs, as listed below.
  
*-------------------------+---------+-------------*
|                         | Version | Required by |
*-------------------------+---------+-------------*
| <<{{{http://www.hibernate.org/397.html} Hibernate EntityManager}}>> | <<3.4.0.GA>> | ${df-core} |
*-------------------------+---------+-------------*
| <<{{{http://cglib.sourceforge.net/} cglib}}>> | <<2.1_3>> | ${df-core} |
*-------------------------+---------+-------------*
| <<{{{http://www.slf4j.org/} SLF4J}}>> | <<1.5.6>> | ${df-core} |
*-------------------------+---------+-------------*
| <<{{{http://www.junit.org/} JUnit}}>> | <<4.5>> / <<4.4>> | ${df-core} / ${df-test} |
*-------------------------+---------+-------------*
| <<{{{http://www.springsource.org/about} Spring}}>> | <<2.5.6>> | ${df-test} |
*-------------------------+---------+-------------*
| <<{{{http://sourceforge.net/projects/c3p0/} c3p0}}>> | <<0.9.1.2>> | ${df-test} |
*-------------------------+---------+-------------*
  
  Note that all artifacts mentioned above represent {{{http://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#Dependency_Scope} compile and runtime scoped}}
  Maven dependencies which are required by the corresponding ${df} project (excluding cross-project dependencies).
