 ----
 Download
 ----
 Vojtech Szocs
 ----
 17 February 2009
 ----

Download ${df}
  
  Below are the links to ${df} downloads regarding the <<latest stable>> releases.
  
*------------+---------+--------+---------+---------*
|            | Version | Binary | Sources | Javadoc |
*------------+---------+--------+---------+---------*
| <<${df-core}>> | ${df-core-latestStableVersion} | {{{http://anasoft-os-repo.googlecode.com/svn/repository/releases/${df-groupIdPath}/${df-core}/${df-core-latestStableVersion}/${df-core}-${df-core-latestStableVersion}.jar} ${df-core}-${df-core-latestStableVersion}.jar}} | {{{http://anasoft-os-repo.googlecode.com/svn/repository/releases/${df-groupIdPath}/${df-core}/${df-core-latestStableVersion}/${df-core}-${df-core-latestStableVersion}-sources.jar} ${df-core}-${df-core-latestStableVersion}-sources.jar}} | {{{http://anasoft-os-repo.googlecode.com/svn/repository/releases/${df-groupIdPath}/${df-core}/${df-core-latestStableVersion}/${df-core}-${df-core-latestStableVersion}-javadoc.jar} ${df-core}-${df-core-latestStableVersion}-javadoc.jar}} |
*------------+---------+--------+---------+---------*
| <<${df-test}>> | ${df-test-latestStableVersion} | {{{http://anasoft-os-repo.googlecode.com/svn/repository/releases/${df-groupIdPath}/${df-test}/${df-test-latestStableVersion}/${df-test}-${df-test-latestStableVersion}.jar} ${df-test}-${df-test-latestStableVersion}.jar}} | {{{http://anasoft-os-repo.googlecode.com/svn/repository/releases/${df-groupIdPath}/${df-test}/${df-test-latestStableVersion}/${df-test}-${df-test-latestStableVersion}-sources.jar} ${df-test}-${df-test-latestStableVersion}-sources.jar}} | {{{http://anasoft-os-repo.googlecode.com/svn/repository/releases/${df-groupIdPath}/${df-test}/${df-test-latestStableVersion}/${df-test}-${df-test-latestStableVersion}-javadoc.jar} ${df-test}-${df-test-latestStableVersion}-javadoc.jar}} |
*------------+---------+--------+---------+---------*
  
  Specific ${df} projects depend on certain libraries and APIs - see the {{{./dependencies.html} dependencies}} page for more information.
  
  If you're a {{{http://maven.apache.org/} Maven}} user, visit the {{{./maven-integration.html} Maven integration}} page for details about using ${df} within your projects.
