 ----
 Code Review
 ----
 Vojtech Szocs
 ----
 19 May 2009
 ----

Code Review
  
  In addition to the {{{../issue-tracking.html} issue tracker}} for reporting and commenting on project issues, we encourage all project members to use
  {{{http://codereview.appspot.com/} Rietveld}} code review application hosted on {{{http://code.google.com/appengine/} Google App Engine}} to submit
  their patches for code review.
  
  Code reviews enable project members to comment on patch sets (sets of diffs for a particular revision) made by other project members, which improves
  the overall source code quality along with some other positive side effects, such as:
  
  * project members are aware of impacts caused by the issue implementation, staying up to date with the current state of the project
  
  * code reviews promote a common "coding culture" (conventions, patterns and best practices applied to the source code) across the community
  
  []
  
  Code review relates to contributors and committers alike:
  
  * contributors have the possibility to propose their solutions for project issues
  
  * committers can do the same thing plus decide whether or not to commit their solutions (pre-commit or post-commit code review)
  
  []
  
Performing code review
  
  If you're a project member working on specific issue(s):
  
  * Log in to {{{http://codereview.appspot.com/} Rietveld}} with your {{{https://www.google.com/accounts/NewAccount} Google Account}}.
  
  * Create a code review issue for any issue(s) you have resolved (don't forget to specify the corresponding SVN base when creating
    code review issues manually).
  
  * Invite all project members for a code review by using <Publish + Mail Comments> feature as well as posting code review issue URL(s)
    for related issues within the {{{../issue-tracking.html} issue tracker}}.
  
  * See {{{http://code.google.com/p/rietveld/wiki/CodeReviewHelp} this guide}} for detailed information about the code review process.
