 ----
 ${df} roadmap
 ----
 Michal Jemala
 ----
 16 June 2009
 ----

${df} roadmap
  
  This page lists project milestones for upcoming feature releases according to our {{{./release-policy.html} release policy}}.
  
1.2.0
  
  * {{{./roadmap.html#Milestone_1} Milestone 1}}: <<complete>>
  
  * {{{./roadmap.html#Milestone_2} Milestone 2}}: Mid July 2009
  
  * {{{./roadmap.html#Milestone_3} Milestone 3}}: Late July 2009
  
  []
  
* {Milestone 1}
  
  * code review and refactoring based on open issues
  
  * project roadmap and overview
  
  * <Hello, DAO!> sample application
  
  []
  
* {Milestone 2}
  
  * {{{http://code.google.com/p/daofusion/issues/detail?id=9} bitemporal pattern}} support
  
  * revision of reference documentation
  
  * step-by-step tutorial for <Hello, DAO!>
  
  []
  
* {Milestone 3}
  
  * documentation final touches
  
  * any issues that come up until release (code base stabilization)
  
  * release of <<${df} 1.2.0>>
  
  []
