 ----
 ${df} roadmap
 ----
 Michal Jemala
 ----
 25 May 2009
 ----

${df} roadmap
  
  This page lists project milestones for upcoming feature releases according to our {{{./release-policy.html} release policy}}.
  
1.2.0
  
  * {{{./roadmap.html#Milestone_1} Milestone 1}}: <<complete>>
  
  * {{{./roadmap.html#Milestone_2} Milestone 2}}: beginning of June 2009
  
  * {{{./roadmap.html#Milestone_3} Milestone 3}}: July 2009
  
  []
  
* {Milestone 1}
  
  * project roadmap
  
  * <Hello, DAO!> sample application
  
  []
  
* {Milestone 2}
  
  * step-by-step tutorial for <Hello, DAO!>
  
  * project overview (main concepts, usage benefits, etc.)
  
  []
  
* {Milestone 3}
  
  * {{{http://groups.google.com/group/dao-fusion/t/e1ece1641af9c970} Bitemporal pattern support}} including corresponding reference documentation
  
  * any issues that come up until release
  
  * <<release>>
  
  []
