 ----
 ${df} summary
 ----
 Vojtech Szocs
 ----
 16 March 2009
 ----

${df} summary
  
  Coming soon: a brief description of what ${df} is and how it can aid you in building more reliable, maintainable and testable DAO layers.
