#banner {
	height: 100px;
	background: url(../images/top-fill.gif);
}

.section li {
	list-style-type: square;
}

h4 {
	margin: 6px 0px 4px 0px;
	color: #333333;
}

#leftColumn {
	width: 220px;
}

#bodyColumn {
	margin-left: 250px;
}
