 ----
 Maven Integration
 ----
 Vojtech Szocs
 ----
 17 February 2009
 ----

Maven Integration
  
  ${df} uses {{{http://maven.apache.org/} Maven}} for managing its projects and dependencies as well as for the build process itself.
  
  Integrating ${df} into projects managed by Maven is simple - all you have to do is declare a corresponding <<<repository>>> element within your project's <<<pom.xml>>> like this:
  
%{code-snippet|file=src/site/snippet/howto/maven-integration-pom.xml}
  
  For most users, declaring the <ANASOFT OpenSource releases> repository is sufficient since it points to stable project releases.
